.menu{
    width: fit-content;
    font-size: 2.2rem;
}

#navigation{
    width: 1600px;
    height: 180px;
}

.logo img{
    height: 140px;
}

.logo1 img{
    height: 140px;
}

.image{
    width: fit-content;
}

.client{
    flex-direction: column;
    margin-left: 193px;
    margin-right: 100px;
    margin-right: -374px;
    font-size: 34px;
}

.hero img{
    height:700px;
}

.home{
  font-size: 3.4rem;
}

.homecontainer{
    flex-direction: column;
    width: max-content;
    padding: 0px 54px;
    margin-left: 148px;
}

.mainlinks{
    font-size: 35px;
    margin: 0px 191px;
}

.support{
    font-size: 35px;
    margin: 0px 78px;
}

.support1{
    font-size: 35px;
    margin: -64px 184px;
}

.support1 input{
   font-size: 30px;
}

footer{
    width: 1600px;
    height: 1100px;
    flex-direction: column;
}
